{% extends 'base.html' %}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>Report</h2>
        <hr />
        <!-- put in the review at top before the text box-->
        <p>Review: {{template_data.review.comment}}</p> 
        <form method="POST">
          {% csrf_token %}
          <p>
            <label for="comment">Comment:</label>
            <!--text area for the report comment-->
            <textarea name="comment" required
                class="form-control" id="comment"></textarea> 
            
          </p>
          <div class="text-start">
            <button type="submit"
              class="btn bg-dark text-white">Report
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}